version: '3.8'

services:

  mysql:
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: mysql
    ports:
      - "3306:3306"
    volumes:
      - sql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "80:80"

volumes:
  sql_data:
